.fieldset,
.button {
  margin-bottom: 20px;
}

.form-fild {
  display: block;
  margin-bottom: 10px;
}

.form-fild:last-child {
  margin-bottom: 0;
}

.form-fild__email {
  box-sizing: border-box;
}

.form-fild__select {
  overflow: hidden;
}
